# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.whl

# Virtual environments
.venv/
venv/
env/
ENV/

# PyCharm
.idea/

# Numba cache
*.nbi
*.nbc

# Pytest
.pytest_cache/

# Simulation output
*_runs/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
